# ETL de datos de importación de productos

## Instalación de librerías base

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\anaconda\lib\site-packages (2.9.10)

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import uuid

## Extraction

In [4]:
engine = create_engine('postgresql+psycopg2://postgres:mysecretpass@localhost:5433/postgres')
df_trades = pd.read_sql("SELECT * FROM trades",engine)

In [5]:
df_countries = pd.read_json('country_data.json')

In [6]:
df_codes = pd.read_csv('hs_codes.csv')

In [7]:
df_parents = df_codes[df_codes['Level']==2].copy()

In [8]:
df_parents

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTER 2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTER 3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTER 4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTER 5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."
...,...,...,...,...,...,...,...,...
7238,1661793,2,930021000090,9.300110e+11,93,XIX,CHAPTER 93 - ARMS AND AMMUNITION; PARTS AND AC...,ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
7264,1661819,2,940021000090,9.400110e+11,94,XX,"CHAPTER 94 - FURNITURE; BEDDING, MATTRESSES, M...","FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPO..."
7319,1661874,2,950021000090,9.400110e+11,95,XX,"CHAPTER 95 - TOYS, GAMES AND SPORTS REQUISITES...","TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A..."
7362,1661917,2,960021000090,9.400110e+11,96,XX,CHAPTER 96 - MISCELLANEOUS MANUFACTURED ARTICLES,MISCELLANEOUS MANUFACTURED ARTICLES
7428,1661983,2,970021000090,9.700110e+11,97,XXI,"CHAPTER 97 - WORKS OF ART, COLLECTORS' PIECES ...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [9]:
df_trades.head()

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items

In [10]:
df_countries.head()

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0

In [11]:
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN

## Transform

#### Clean codes

In [12]:
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN
...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi..."
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old

Vemos que la columna que tiene nulos es la de Code_cum entonces vamos a eliminarlos.

In [13]:
df_codes = df_codes[df_codes["Code_comm"].notnull()]

In [14]:
def clean_code (text):
    text = str(text)
    parent_code = None
    
    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else:
        code = text[:6]
        parent_code = text[:2]
    
    try:
        parent = df_parents[df_parents["Code_comm"]== parent_code]['Description'].values[0]
    except:
        parent = None
    
    return (code, parent)

In [15]:
df_codes[['clean_code','parent_description']] = df_codes.apply(lambda x : clean_code(x['Code']),axis=1, result_type='expand')

C:\Users\erick\AppData\Local\Temp\ipykernel_9740\1144775286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[['clean_code','parent_description']] = df_codes.apply(lambda x : clean_code(x['Code']),axis=1, result_type='expand')
C:\Users\erick\AppData\Local\Temp\ipykernel_9740\1144775286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[['clean_code','parent_description']] = df_codes.apply(lambda x : clean_code(x['Code']),axis=1, result_type='expand')

In [16]:
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS
...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [17]:
df_codes = df_codes[df_codes['clean_code'].notnull()][['clean_code','Description','parent_description']]

In [18]:
df_codes

,clean_code,Description,parent_description
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS
2,10021,LIVE ANIMALS,LIVE ANIMALS
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS
5,10121,Pure-bred breeding horses,LIVE ANIMALS
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS
...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [19]:
df_codes = df_codes[df_codes['clean_code'].notnull()][['clean_code','Description','parent_description']]

In [20]:
df_codes['id_code'] = df_codes.index + 1

In [21]:
df_codes['clean_code'] = df_codes['clean_code'].astype('int64')

In [22]:
df_codes

,clean_code,Description,parent_description,id_code
1,10011,LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS,2
2,10021,LIVE ANIMALS,LIVE ANIMALS,3
3,10100,"Live horses, asses, mules and hinnies",LIVE ANIMALS,4
5,10121,Pure-bred breeding horses,LIVE ANIMALS,6
6,10129,Live horses (excl. pure-bred for breeding),LIVE ANIMALS,7
...,...,...,...,...
7432,970200,"Original engravings, prints and lithographs","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7433
7433,970300,"Original sculptures and statuary, in any material","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7434
7434,970400,"Postage or revenue stamps, stamp-postmarks, fi...","WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7435
7435,970500,Collections and collector's pieces of zoologic...,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7436
7436,970600,Antiques of > 100 years old,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES",7437

### Clean Countries

In [ ]:
df_countries = df_countries[['alpha-3','country','region','sub-region']]

In [25]:
df_countries = df_countries[df_countries['alpha-3'].notnull()]

In [26]:
df_countries['id_country'] = df_countries.index + 1

### Merge

In [28]:
df_trades_clean = df_trades.merge(df_codes[['clean_code','id_code']],how='left',left_on='comm_code',right_on='clean_code')

In [30]:
df_trades_clean = df_trades_clean.merge(df_countries[['alpha-3','id_country']],how='left',left_on='country_code',right_on='alpha-3')

In [31]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940,SYC,155
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941,SYC,155
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945,SYC,155
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946,SYC,155
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925,SYC,155

### Clean trades

In [33]:
def create_dimensions(data,id_name):
    list_keys = []
    value = 1
    
    for _ in data:
        list_keys.append(value)
        value = value + 1
    return pd.DataFrame({id_name:list_keys, 'values':data})

In [34]:
df_quantity = create_dimensions(df_trades_clean['quantity_name'].unique(),'id_quantity')
df_flow = create_dimensions(df_trades_clean['flow'].unique(),'id_flow')
df_year = create_dimensions(df_trades_clean['year'].unique(),'id_year')

In [37]:
df_trades_clean = df_trades_clean.merge(df_quantity, how='left',left_on='quantity_name',right_on='values')

df_trades_clean = df_trades_clean.merge(df_flow, how='left',left_on='flow',right_on='values')

df_trades_clean = df_trades_clean.merge(df_year, how='left',left_on='year',right_on='values')

In [39]:
df_trades_clean['id_trades'] = df_trades_clean.index + 1

In [40]:
df_trades_final = df_trades_clean[['id_trades','trade_usd','kg','quantity','id_code','id_country','id_quantity','id_flow','id_year']].copy()

In [42]:
df_countries = df_countries[['id_country','alpha-3','country','region','sub-region']]

In [43]:
df_codes = df_codes[['id_code','clean_code','Description','parent_description']]

## Load

In [ ]:
import os
import boto3